.Templates  {
    margin: 1rem;
}

.templates-JT   {
    background-image: url(../../Img/RIpple_blue_dark_bg_1920x1080.jpg);
    background-repeat: no-repeat;
    background-position: cover;
    border-radius: 4px;
    color: white
}