.Login {
    padding: 10px;
    background-image: url(../../Img/Log-aqua-ripple-bg-.png);
    background-position: center center;
    justify-content: space-around;
}

.Login h3, .Login h6 {
    color: white;
    font-weight: lighter;
    text-align: center;
    margin: auto;
    padding: 10px;
    
}
